body {
  background: #fff;
  font-family: "Roboto", Helvetica, sans-serif;;
  font-weight: 300;
  line-height: 1.7em;
  color: $grey_900;
  font-size: 16px;
  @media screen and (min-width: 110em) {
    font-size: 17px;
  }
}
body,
html{
  scroll-behavior: smooth;
}
