footer{
  margin: 2rem auto 0 auto;
  max-width: 42rem;
  border-top: 1px dotted $grey_200;
  text-align: center;
  color: $grey_600;
  padding: 2rem 0;
  font-size: .9em;
  p{
    margin: 0;
  }
  a{
    color: $grey_600;
    &:hover,
    &:focus{
      color: $primary_color;
    }
  }
}
