@keyframes query-appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes anwser-appear {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.home{
  p.note{
    text-align: center;
    background: #fff;
    color: #aaa;
    margin: 0;
    padding: .25em;
    line-height: 1.25em;
    font-size: .5em;
    font-family: 'Roboto Mono', monospace;
  }
  header{
    position: relative;
    background-image: url('../img/home/sep.png'), url('../img/home/home.jpg');
    background-position: left bottom, center bottom;
    background-size:  100% 120px, cover;
    background-repeat: no-repeat, no-repeat;

    padding: 2em 0 80vw 0;

    .home__use-case{
      .home__use-case__pointer{
        opacity: 0;
      }
      .home__use-case__query{
        opacity: 0;
      }
      .home__use-case__anwser{
        opacity: 0;
      }
      &.home__use-case--1{
        .home__use-case__pointer,
        .home__use-case__query{
          animation: query-appear .25s ease-in .5s forwards;
        }
        .home__use-case__anwser{
          animation: anwser-appear .25s ease-in .75s forwards;
        }
      }
      &.home__use-case--2{
        display: none;
        .home__use-case__pointer,
        .home__use-case__query{
          animation: query-appear .25s ease-in 1s forwards;
        }
        .home__use-case__anwser{
          animation: anwser-appear .25s ease-in 1.25s forwards;
        }
      }
    }

    .home__use-case{
      position: absolute;
      font-size: .9em;
      line-height: 1.25em;
      .home__use-case__pointer{
        position: absolute;
        width: 2px;
        height: 160px;
        background-color: rgba(#49d8fb, .9);
        left: -1.5em;
        top: 2em;
        &:before{
          position: absolute;
          top: -8px;
          left: -7px;
          content: "";
          width: 14px;
          height: 14px;
          background-color: #49d8fb;
          border: 1px solid #30a9c8;
          border-radius: 50%;
        }
      }
      .home__use-case__query{
        max-width: 17em;
        padding: .5em .75em;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 2px 3px rgba(#000, .15);
        text-align: center;
      }
      .home__use-case__anwser{
        margin: 2em 0 0 2em;
        position: relative;
        img{
          position: absolute;
          width: 20px;
          left: -14px;
          top: calc(50% - 12px);
          background-color: #fff;
          padding: 4px;
          border-radius: 50%;
        }
        pre{
          background-color: #fff;
          padding: .5em;
          font-size: .8em;
          line-height: 1.25em;
          font-family: 'Roboto Mono', monospace;
          border-radius: 3px;
          box-shadow: 0 2px 3px rgba(#000, .2);
        }
      }
    }

    .home__header{
      margin: 0 auto;
      padding: 0 1em;
      max-width: 35em;
      text-align: center;
    }
    h1{
      margin: 0 0 .5em 0;
      font-weight: 400;
      font-size: 1.6em;
      color: $grey_900;
    }
    p{
      line-height: 1.35em;
      margin: 0.25em 0;
      font-size: 1.25em;
      color: $grey_600;
    }
  }

  header{
    .home__use-case{
      &.home__use-case--1{
        bottom: 20vw;
        left: 15vw;
      }
    }
    @media screen and (min-width: 460px) {
      padding: 2em 0 70vw 0;
    }
    @media screen and (min-width: 540px) {
      padding: 2em 0 23em 0;
      .home__use-case{
        &.home__use-case--1{
          bottom: 10em;
        }
      }
    }
    @media screen and (min-width: 900px) {
      padding: 3em 0 37vw 0;
      .home__use-case{
        &.home__use-case--1{
          bottom: 10vw;
        }
        &.home__use-case--2{
          display: block;
          bottom: 13vw;
          right: 10vw;
        }
      }
      h1{
        font-size: 2em;
      }
      p{
        font-size: 1.5em;
      }
    }
    @media screen and (min-width: 1000px) {
      padding-bottom: 33vw;
    }
    @media screen and (min-width: 1100px) {
      padding-bottom: 32vw;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 30vw;
    }
    @media screen and (min-width: 1300px) {
      padding-bottom: 29vw;
    }
    @media screen and (min-width: 1400px) {
      padding-bottom: 28vw;
      .home__use-case{
        &.home__use-case--1{ left: 15vw; }
        &.home__use-case--2{ right: 15vw; }
      }
    }
    @media screen and (min-width: 1500px) {
      padding-bottom: 27vw;
    }
    @media screen and (min-width: 1600px) {
      padding-bottom: 24vw;
      .home__use-case{
        &.home__use-case--1{ left: 17vw; }
        &.home__use-case--2{ right: 17vw; }
      }
    }
    @media screen and (min-width: 1800px) {
      padding-bottom: 22vw;
    }
  }

  main{
    section{
      padding: 1em 2em;
    }
    .wrapper{
      margin: 0 auto;
      max-width: 82em;
    }

    h2{
      font-weight: 400;
      font-size: 1.75em;
      color: $grey_800;
    }
    p, ul{
      font-size: 1.15em;
    }
    li{
      margin: .5em 0;
    }
    img{
      max-width: 100%;
      padding: 1em;
    }

    .ui .wrapper{
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 2em;
      align-items: center;
      padding: 2em 0;
      @media screen and (min-width: 1000px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 5em;
      }
    }

    .trio{
      background-color: $grey_100;
      h2{
        font-weight: 400;
        font-size: 1.15em;
        margin: 0 0 .5em 0;
        color: $grey_800;
      }
      p{
        font-size: 1em;
        margin: 0;
      }
      svg{
        margin-left: 10%;
        width: 80%;
        height: auto;
      }
      .wrapper{
        padding: 0;
        & > div{
          margin: 2em 0;
          display: grid;
          grid-template-columns: 1fr 2fr;
          grid-gap: 2em;
          align-items: center;
        }
        @media screen and (min-width: 1000px) {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 3em;
          svg{
            margin-left: 0;
            width: 100%;
          }
        }
      }
    }

    .imagine-and-news{
      .wrapper{
        margin: 2em auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;
        @media screen and (min-width: 1000px) {
          grid-gap: 5em;
          grid-template-columns: 1fr 1fr;
        }
      }
      svg{
        max-width: 10em;
        height: auto;
      }
      ul.posts{
        list-style: none;
        padding: 0;
        li{
          margin: 0 0 1em 0;
          a{
            display: block;
            text-decoration: none;
            color: $grey_800;
            padding: .5em 1em;
            box-shadow: 0 2px 3px rgba(#000, .1);
            border-radius: 3px;
            border-left: 2px solid $primary_color;
            transition: all .1s;
            h3{
              font-weight: 300;
              font-size: 1em;
              margin: 0;
            }
            h4{
              font-weight: 300;
              font-size: .75em;
              line-height: 1.5em;
              margin: 0 0 .5em 0;
              color: $grey_500;
              strong{
                font-weight: 300;
                color: $grey_700;
              }
            }
            &:hover{
              box-shadow: 0 3px 6px rgba(#000, .15);
              h3{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

  }
}
