.page--legal{

  background: linear-gradient(to bottom, $light-grey-300, #fff);

  .page__section-wrapper{
    max-width: 42em;
  }
  .legal-last-update{
    margin: 0;
    color: $grey_500;
  }

  h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    line-height: 1.25em;
    color: $grey_900;
  }
  h1{
    font-weight: 300;
    font-size: 2.75em;
    margin: 1em 0 0 0;
  }
  h2{
    margin: 2em 0 1em 0;
    font-size: 1.9em;
    small{
      color: $grey_500;
      display: block;
    }
  }
  h3{
    font-size: 1.5em;
    margin: 1.25em 0;
  }
  h4{
    font-size: 1.25em;
    margin: 1em 0;
  }
  h5{
    font-size: 1em;
    margin: 1em 0;
  }
  h6{
    font-size: .85em;
    font-weight: 400;
    margin: 1em 0;
  }

}
