.page{
  section{
    padding: 1em 2em;
    @media screen and (min-width: 1000px) {
      padding: 1em 4em;
    }
  }

  section.wave-down{
    background-image: url('../img/sep-down.png');
    background-position: left bottom;
    background-size:  100% 3em;
    background-repeat: no-repeat;
    padding-bottom: 5em;
  }

  .page__section-wrapper{
    margin: 0 auto;
    max-width: 80em;
  }

  .page__intro{
    h1{
      text-align: center;
      margin: 1em 0 .25em 0;
      font-weight: 300;
      font-size: 2.75em;
      color: $dark-grey-600;
      line-height: 1.1em;
    }
    h1:only-child{
      margin: 1em 0;
    }
    h2{
      text-align: center;
      margin: 0 auto 2.5em auto;
      color: $dark-grey-300;
      line-height: 1.3em;
      max-width: 26em;
    }
  }

  h2{
    font-weight: 400;
    font-size: 1.6em;
    color: $grey_800;
    font-weight: 300;
    margin-bottom: 1.25em;
    strong{
      font-weight: 400;
      color: $grey_900;
    }
  }
  p, ul, li{
    font-size: 1em;
  }
}
