.pricing{
  background-color: $light-grey-300;
}

.pricing__plans{
  margin: 0 auto 2em auto;
  & > div{
    margin: 0 -1em 2em -1em;
    padding: .5em 1.5em;
    box-shadow: 0 2px 3px rgba(#000, .075);
    border-radius: 3px;
  }
  @media screen and (min-width: 500px) {
    & > div{
      margin: 0 0 2em 0;
      padding: .5em 2em;
    }
  }
  @media screen and (min-width: 900px) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 60em;
    & > div{
      width: calc(50% - 1.5em);
    }
    & > div:first-child{
      margin-right: 3em;
    }
  }

  h2{
    font-weight: 300;
    font-size: 2em;
    margin: 1em 0 0 0;
    strong{
      font-weight: 400;
    }
  }
  h3{
    font-size: 1.15em;
    min-height: 3em;
    font-weight: 300;
    margin: .75em 0 0 0;
  }
}

ul.pricing__features{
  list-style: none;
  padding: 0;
  text-align: left;
  margin: 2em 0;
  font-size: 1em;
  li{
    background: transparent url('../icons/outline-check-primary.svg') no-repeat;
    background-position: 0 1px;
    padding-left:30px;
    margin: .5em 0;
  }
}

.pricing__call_to_action{
  margin: 3em 0 2em 0;
}

.pricing__plans__freemium{
  background-color: #fff;
  h3{
    color: $dark-grey-300;
  }
  .pricing__notes{
    border-top: 1px solid $light-grey-500;
    color: $dark-grey-200;
    padding: 1em 0;
    font-size: .85em;
    p{
      margin: 0;
    }
    sup{
      color: #000;
    }
  }
}

.pricing__plans__premium{
  background: linear-gradient(60deg, $dark-grey-500, $dark-grey-400);
  color: #fff;
  h2{
    color: $light-grey-400;
    strong{
      color: $light-grey-100;
    }
  }
  h3{
    color: $dark-grey-100;
  }
  ul.pricing__features{
    color: $light-grey-800;
    li{
      background-image: url('../icons/outline-check-primary.svg');
    }
  }
  strong{
    color: #fff;
    font-weight: 700;
  }
}

section.pricing__faq{
  background-color: #fff;
  h2{
    font-weight: 300;
    font-size: 2em;
    margin: 1em 0 0 0;
  }
  h3{
    font-weight: 400;
    margin: 2em 0 0 0;
  }
  p + ul{
    margin-top: -.5em;
  }
}
.pricing__faq__items{
  @media screen and (min-width: 900px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em;
  }
}
