---
layout: default
title: "NLP Platform - viky.ai"
description: "viky.ai is a Natural Language Processing SaaS platform. Extracting information from unstructured contents has never been easier."
image: site_assets/img/social.jpg
---

<div class="home">
  <header>
    <h1>Natural Language Processing platform</h1>
    <p>
      Extracting information from unstructured contents has never been easier
    </p>
  </header>

  {% include home_use_cases.html %}

  <main>
    <section class="home__section-ui">
      <div class="home__section-wrapper">
        <div>
          <figure>
            <img src="/site_assets/img/home/ui.jpg" alt="viky.ai web interface screenshot." />
            <figcaption>viky.ai user interface listing available agents.</figcaption>
          </figure>
        </div>
        <div>
          <h2>An <strong>innovative way</strong> to <strong>understand contents</strong></h2>
          <ul class="home__check-list">
            <li>
              viky.ai provides you with a <strong>unique codeless user interface</strong>. This is a new way to create semantic modules that are easy to integrate through API into your system.
            </li>
            <li>
              Semantic bricks, named viky.ai’s agents, are your <strong>multilingual assistants to find relevant data</strong>.
            </li>
            <li>
              The <strong>collaborative creation of entities and interpretations</strong> has never been as simple!
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="home__features">
      <h2><strong>Key features</strong> of viky.ai NLP platform</h2>

      <div class="home__section-wrapper">

        <div class="home__features__item">
          <div>
            <h3>Open community</h3>
            <p>
              It’s easy to start using viky.ai thanks to <strong>public agents available to everyone</strong>. Your participation will contribute to enriching viky’s market!
            </p>
          </div>
          <div>{% include svg/community.svg %}</div>
        </div>

        <div class="home__features__item">
          <div>
            <h3>Reusability</h3>
            <p>viky.ai’s agents are like well-known play bricks. Use <strong>elementary agents to compose your own agents</strong>, no need to reinvent the wheel!</p>
          </div>
          <div>{% include svg/reusability.svg %}</div>
        </div>

        <div class="home__features__item">
          <div>
            <h3>Collaboration</h3>
            <p>
              Private agents in your space can be managed to <strong>work collaboratively</strong> within your organization.
            </p>
          </div>
          <div>{% include svg/collaboration.svg %}</div>
        </div>

        <div class="home__features__item">
          <div>
            <h3>Ready to use</h3>
            <p>
              Once created, viky.ai’s agents are directly operational for your use cases. Use API functions to play with them.
            </p>
          </div>
          <div>{% include svg/ready.svg %}</div>
        </div>

        <div class="home__features__item">
          <div>
            <h3>Codeless</h3>
            <p>
              We have created a codeless and end-user-oriented platform: everyone in the organization can play with viky.ai!
            </p>
          </div>
          <div>{% include svg/codeless.svg %}</div>
        </div>

        <div class="home__features__item">
          <div>
            <h3>Multilingual</h3>
            <p>
              Define multiple languages for your agents.
            </p>
          </div>
          <div>{% include svg/multilingual.svg %}</div>
        </div>

      </div>
    </section>

    <section class="home__section-imagine-and-news">
      <div class="home__section-wrapper">
        <div>
          <h2>Imagine <strong>new business cases</strong></h2>
          <p>
            With viky.ai your unstructured contents will reveal the substance of what they hide. This will enrich your structured data and allow you to imagine new business cases.
          </p>
          <p>You could use it in 2 phases of your data value chain:</p>
          <ul class="home__check-list">
            <li>Upstream of the value chain to structure your contents and extract relevant data (to create metadata or enrich indexes for instance).</li>
            <li>Downstream of the value chain to send queries in natural language to find the right information. viky.ai even offers the possibility to create virtual assistants to converse with your data.</li>
          </ul>
        </div>

        <div>
          <h2>Latest <strong>news</strong></h2>
          <ul class="home__posts-list">
            {% for post in site.posts limit:3 %}
              <li>
                <a href="{{post.url}}">
                  <h3>{{post.title}}</h3>
                  <p>By <strong>{{post.author}}</strong> on {{post.date | date_to_long_string}}</p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>

    {% include footer.html %}

  </main>
</div>
