<h2>Guides</h2>
<ul>
  {% for p in site.pages %}
    {% assign segments = p.dir | split: '/' %}
    {% if segments[1] == "guides" %}
      <li>
        {% if page.url == p.url %}
          <a href="{{p.url}}" class="current">{{p.title}}</a>
        {% else %}
          <a href="{{p.url}}">{{p.title}}</a>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>API reference</h2>
<ul>
  {% for p in site.pages %}
    {% assign segments = p.dir | split: '/' %}
    {% if segments[1] == "api" %}
      <li>
        {% if page.url == p.url %}
          <a href="{{p.url}}" class="current">{{p.title}}</a>
        {% else %}
          <a href="{{p.url}}">{{p.title}}</a>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

