<footer class="footer">
  <div class="footer__inner">

    <div class="footer__inc">
      <a href="/">
        {% include svg/logo.svg %}
      </a>
      <p>{% include footer/copyright.html %}</p>
      <p>{% include footer/rights.html %}</p>
    </div>

    <div class="footer__product">
      <strong>Platform</strong>
      <a href="/" {% if page.dir == '/' %}class="current"{% endif %}>
        Overview</a><br />
      {% include nav/pricing.html %}<br />
      {% include nav/open_source.html %}<br />
      {% include nav/blog.html %}
    </div>

    <div class="footer__compagny">
      <strong>Compagny</strong>
      {% include nav/about_us.html %}<br />
      {% include nav/press_kit.html %}<br />
      {% include nav/privacy_policy.html %}<br />
      {% include nav/terms_of_use.html %}<br />
      {% include nav/terms_and_conditions_of_sale.html %}
    </div>

    <div class="footer__contact">
      <strong>Assistance</strong>
      <p>
        Have a look at the <a href="/doc/" {% if segments[1] == 'doc' %}class="current"{% endif %}>documentation</a>
      </p>
      {% include footer/slack.html %}
      {% include footer/email.html %}
    </div>

    <div class="footer__follow">
      <strong>Follow us</strong>
      <a href="https://twitter.com/viky_ai">{% include svg/twitter.svg %}</a>
    </div>
  </div>

  {% include footer/enjoy.html %}
</footer>
