<div class="header">
  <div class="header__logo">
    <a href="/">
      {% include svg/logo.svg %}
    </a>
  </div>
  <a href="#" class="header__hamburger">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
    <span>Menu</span>
  </a>

  <nav class="header__nav">
    {% include nav/home.html %}
    {% include nav/pricing.html %}
    {% include nav/open_source.html %}
    {% include nav/blog.html %}
    {% include nav/doc.html %}
  </nav>

  <div class="header__login">
    {% if site.features.user_registration_disabled %}
      {% include nav/sign_in.html %}
    {% else %}
      {% include nav/sign_up.html %}
      {% include nav/sign_in.html %}
    {% endif %}
  </div>
</div>
