<div class="home__use-cases">

  <div class="use-case use-case--first">
    <div class="use-case__pointer"></div>
    <div class="use-case__content">
      <div class="use-case__content__img">
        <img src="/site_assets/img/home/avatar.jpg" alt="Photo of a person" />
      </div>
      <div class="use-case__content__text">
        <span class="interpretation interpretation--blue">
          I want to reserve a hotel
          <span class="interpretation__tag">
            <span class="interpretation__tag__name">Action</span>
            <span class="interpretation__tag__value">Book hotel</span>
          </span>
        </span>
        <span class="interpretation interpretation--purple">
          in bali
          <span class="interpretation__tag">
            <span class="interpretation__tag__name">Location</span>
            <span class="interpretation__tag__value">Bali</span>
          </span>
        </span>
        <span class="interpretation interpretation--green">
          with my wife
          <span class="interpretation__tag">
            <span class="interpretation__tag__name">People</span>
            <span class="interpretation__tag__value">2</span>
          </span>
        </span>
        <span class="interpretation interpretation--pink">
          to go diving
          <span class="interpretation__tag">
            <span class="interpretation__tag__name">Activity</span>
            <span class="interpretation__tag__value">Diving</span>
          </span>
        </span>
      </div>
    </div>
  </div>


  <div class="use-case use-case--second">
    <div class="use-case__pointer"></div>
    <div class="use-case__content">
      <div class="use-case__content__img">
        <img src="/site_assets/img/home/afp.jpg" alt="AFP logo" />
      </div>
      <div class="use-case__content__text">
        <span class="interpretation interpretation--blue interpretation--1">
          Globex
          <span class="interpretation__tag">
            <span class="interpretation__tag__name">By</span>
            <span class="interpretation__tag__value">Globex</span>
          </span>
        </span>
        <span class="interpretation interpretation--purple interpretation--2">
          a fait l’acquisition de
          <span class="interpretation__tag">
            <span class="interpretation__tag__name">Operation</span>
            <span class="interpretation__tag__value">Acquisition</span>
          </span>
        </span>
        <span class="interpretation interpretation--blue interpretation--3">
          Acme
          <span class="interpretation__tag">
            <span class="interpretation__tag__name">Of</span>
            <span class="interpretation__tag__value">Acme</span>
          </span>
        </span>
        le
        <span class="interpretation interpretation--green interpretation--4">
          20 février
          <span class="interpretation__tag">
            <span class="interpretation__tag__name">Date</span>
            <span class="interpretation__tag__value">2019-02-20</span>
          </span>
        </span>
        pour un montant de
        <span class="interpretation interpretation--pink interpretation--5">
          234 millions de dollars
          <span class="interpretation__tag">
            <span class="interpretation__tag__name">Amount</span>
            <span class="interpretation__tag__value">$234,000,000</span>
          </span>
        </span>
      </div>
    </div>
  </div>

</div>
