.use-case{
  position: relative;
  display: inline-block;



  .use-case__content{
    display: flex;
    padding: .2em .2em;
    background-color: rgba(#fff, 1);
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(#000, .25);
    border-radius: 1.2em;

    &:before{
      content: "";
      position: absolute;
      width: 6px;
      height: 1.25em;
      background-color: #fff;
      border-radius: 1px;
      bottom: -1.1em;
      left: 16px;
      @media screen and (min-width: 1800px) { left: 17px; }
    }
  }
  .use-case__content__img{
    img{
      display: block;
      width: 2.2em;
      border-radius: 50%;
    }
  }
  .use-case__content__text{
    line-height: 2em;
    margin: 0 1em 0 .75em;
  }
  .use-case__pointer{
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $primary_color;
    border: 2px solid #fff;
    box-shadow: 0 0 0 1px #fff;
    left: .7em;
    top: 3.6em;
    box-shadow: 0 2px 3px rgba(#000, .25);
  }
}
