---
layout: default
title: "About us - viky.ai"
description: "This section describes who we are."
image: site_assets/img/social.jpg
---

<div class="page about-us">
  <section>
    <div class="page__section-wrapper">

      <div class="about-us__content">

        <h1>About us</h1>

        <div class="about-us__team__illustration">
          {% include svg/team.svg %}
        </div>

        <div class="about-us__team__content">
          <h2>Team</h2>
          <p>
            We are a team of enthousiastic AI and NLP lovers. Before viky.ai we have been working on semantic search engines for many years and this is still a very important activity for us.
          </p>
        </div>

        <div class="about-us__project__illustration">
          {% include svg/logo.svg %}
        </div>

        <div class="about-us__project__content">
          <h2>Project</h2>
          <p>
            The viky.ai project comes originally from our willingness to add some dialog into search engines. But we were a bit frustrated as this was only a specific application to the more general subject of NLP.
          </p>
          <p>
            So we <a href="https://cordis.europa.eu/project/rcn/212164/factsheet/en">submitted our project</a> to the Europeen Commission and got funded!
          </p>
        </div>

        <div class="about-us__company__illustration">
          <img src="/site_assets/img/logo_pertimm.png" />
        </div>

        <div class="about-us__company__content">
          <h2>Company</h2>
          <p>
            <a href="https://www.pertimm.com/">Pertimm</a> is the company that is pushing viky.ai as an open source platform.
          </p>
          <p>
            Pertimm is an innovative French company with more than 21 years of experience in artificial intelligence. Pertimm provides B2B semantic search solutions, with customers such as SoLocal, Leclerc, Cora, Showroomprivé, Clubmed, UCPA, Promod.
          </p>
          <p>
            Pertimm derives from pertinent and immediate which are principles that still guide all our developments.
          </p>
        </div>

      </div>

    </div>
  </section>
</div>

