body {
  background: #fff;
  padding: 1em;
  margin: 0 auto;
  max-width: 40em;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.6em;
  color: $grey_900;
}

h1{
  font-weight: 300;
  font-size: 2.5em;
  line-height: 1.1em;
}
