$primary_color: hsl(192, 66, 54); //#3bb8d7;

$grey_100: hsl(192, 15, 97);
$grey_200: hsl(192, 15, 93);
$grey_300: hsl(192, 15, 80);
$grey_400: hsl(192, 15, 70);
$grey_500: hsl(192, 15, 50);
$grey_700: hsl(192, 50, 30);
$grey_900: hsl(192, 66, 10);
