<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/site_assets/css/main.css" | relative_url }}?{{site.time | date: '%s'}}">
    {% include favicon.html %}
    {% seo %}
    {% feed_meta %}
  </head>
  <body>
    {% include header.html %}

    {{ content}}

    {% include mobile_nav.html %}
    <script src="{{ "/site_assets/javascript/doc.js" | relative_url }}?{{site.time | date: '%s'}}"></script>
  </body>
</html>
