<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="google-site-verification" content="NZfIx1h1pwqLatThN5RXsgQo9aLylbp7JkwVW_i9xog" />
    <link rel="stylesheet" href="{{ "/site_assets/css/main.css" | relative_url }}?{{site.time | date: '%s'}}">

    {% include favicon.html %}

    {% seo %}

    {%- assign segments = page.dir | split: '/' -%}
    {% if segments[2] == 'guides' or segments[2] == 'api' %}
      <meta property="og:type" content="article" />
    {% endif %}
    {% if page.dir == '/' %}
      <meta property="og:type" content="website" />
    {% endif %}

    {% feed_meta %}

    {% include analytics.html %}
  </head>
  <body>
    {% include header.html %}

    {{ content}}

    {% assign segments = page.dir | split: '/' %}
    {% if segments[1] != 'doc' %}
      {% include footer.html %}
    {% endif %}

    {% include mobile_nav.html %}
    <script src="{{ "/site_assets/javascript/doc.js" | relative_url }}?{{site.time | date: '%s'}}"></script>
  </body>
</html>
